.create-post-form {
    max-width: 800px;
}

.form-title {
    float:left;
}

.submit.form{
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
}

.post-text-editor {
    width:890px;
    margin-left:-40px;
}

.display-content {
    display:contents
}